<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DHFoundationTestBase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fnddocumentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07632172179409CA00846D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0763219E179409CA00846D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076321C617940CD000846D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076321F417941E0700846D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450A4B761A31B293001D9577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
